body {
    background: #d5fffd;
}

footer {
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.navbar {
    background-color: white;
    width: 100%;
}

.navbar-brand {
    padding-left: 20px;
}

.btn-outline-light {
    color: white;
}

.nav-item {
    color: white;
}

h1 {
    font-size: 8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0vw;
}

.container {
    padding-top: 14vw;
    padding-bottom: 10vw;
    text-align: left;
}

.row {
    padding-bottom: 0vw;
}

.destaque {
    background-image: url("img/destaque.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100%;
    height: 51vw;
    color: white;
}

.tudo {
    background-color: white;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 50%;
}

.parceiros {
    background-color: #3630A9;
    color: white;
    height: 52vw;
}

